manifest {
    homePage = 'https://github.com/iarcbioinfo/strelka2-nf'
    description = 'Use strelka2 pipeline with nextflow'
    mainScript = 'strelka2.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
}

process {
    process.container = 'iarcbioinfo/strelka2-nf:dev'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."


timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_dag.html"
}

