manifest {
    homePage = 'https://github.com/iarcbioinfo/strelka2-nf'
    description = 'Use strelka2 pipeline with nextflow'
    mainScript = 'strelka2.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" 
       	  conda.createTimeout = "200 min" }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/strelka2-nf:v1.1'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo/strelka2-nf:v1.1'
    pullTimeout = "200 min"
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."


timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/strelka2-nf_dag.html"
}

